.taskView{
    text-decoration: line-through;
}

.changeStatusButton{
    background-color: gold;
    padding: 10px;
    margin-right: 10px;
}

.deleteTaskButton{
    background-color: darkred;
    color: white;
    padding: 10px;
    margin-left: 10px;
}

.addTaskButton{
    background-color: limegreen;
    padding: 10px;
}

h3{
    font-family: Helvetica, sans-serif;
}